body {
    font-family:Arial, Helvetica, sans-serif;
}

main {
    width: 600px;
    margin: 50px 20px 20px 40px;
}

h1 {
    font-size: 40px;
    background-image: url(img/plants.jpg);
    color: white;
    padding: 20px;
    margin: 0px;
}

h3 {
    color: #16521a;
}


/* --------- */
/* Episode 2 */
/* --------- */

#tag-line {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 30px;
    margin-bottom: 10px;
}

span {
    /* width: 500px*/
    /* display: block; */
    background-color: limegreen;
    width: 50px;
    font-size: 40px;
}

#bio {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-style: solid;
    border: thick double green;
    border-left: none;
    border-right: none;
}

#bio > h3 {
    /* color: yellow; */
    margin-bottom: 10px;
    margin-bottom: 10px;
}

#bio > p {
    margin-top: 10px;
}

.pic-text {
    display: inline-block;
    /* width: 30px; */
    width: 49%;
}

.split-pic > img {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-top: 5px;
}

#topics-list { 
    list-style-type: none;
    padding-left: 0px;
}

#topics-list li {
    background-color: limegreen;
    margin: 5px;
    padding: 5px;
    color: green;
    border-radius: 2px;
    display: block;
    color: white;
}

#topics-list li > a {
    text-decoration: none;
    color: white;
}

#topics-list li:hover {
    background-color: green;
}



#topnav a {
    /* float: left; */
    display: inline-block;
    padding: 14px 16px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 0px;
  }

#topnav {
    padding: 0px;
    list-style-type: none;
    align-items: center;
    margin: 0px;

    display: flex;
    justify-content: flex-end;
    flex-basis: 1;
    
}

.flex-item {
    margin-left: 2px;
    flex-basis: 180px;
    background-color: green;
    text-align: center;
    flex-flow: row wrap;
    flex-grow: 1;
}
.flex-item:first-child {
   margin-left: 0px; 
   /* flex-grow: 5; */
}

.correct {
    color: limegreen;
}

.incorrect {
    color: red;
}

#winImg {
    padding: 5px 0px;
    width: 400px;
}

#puzzleImg {
    height: 100px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: orange;
    }
  }